<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/img/logo_site.png"/>
    <title>Home - Meu Treino</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body class="pagina-home">
    
    <!-- Barra de Navegação -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Meu Treino</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/novo_treino">Adicionar Novo Treino</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Conteúdo Principal -->
    <div class="container mt-5">
        <h1>Seus Treinos</h1>
        <ul class="list-group mb-4">
            <!-- Listagem de treinos lado a lado -->
            <li class="list-group-item">
                <a href="/treino/1" class="text-decoration-none text-dark">Treino de Peito e Tríceps</a>
            </li>
            <li class="list-group-item">
                <a href="/treino/2" class="text-decoration-none text-dark">Treino de Pernas Posterior</a>
            </li>
            <li class="list-group-item">
                <a href="/treino/3" class="text-decoration-none text-dark">Treino de Costas e Bíceps</a>
            </li>
            <li class="list-group-item">
                <a href="/treino/4" class="text-decoration-none text-dark">Treino de Ombro e Trapézio</a>
            </li>
            <li class="list-group-item">
                <a href="/treino/5" class="text-decoration-none text-dark">Treino de Pernas Quadríceps</a>
            </li>
        </ul>
        
        <!-- Imagem Central -->
        <div class="text-center">
            <img src="static/img/logo_th.png" alt="Logo Treino" class="central-image">
        </div>
    </div>

    <!-- Rodapé -->
    <footer class="bg-dark text-white text-center py-3 mt-5">
        Meu Treino © 2024
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
